[Desktop Entry]
Name=QtARMSim
Comment=An ARM simulator graphical interface
Type=Application
Version=1.0
Exec=qtarmsim %u
Icon=qtarmsim.png
Terminal=false
Categories=Education;ComputerScience
MimeType=text/x-asm
