use nix

PATH_add .venv/bin

cat << EOF | boxes -d peek

To enter the development shell, please execute:
  nix develop

Once in the development shell, to run the development version of QtARMSim, you can execute:
  uv run qtarmsim

EOF
