use nix

PATH_add .venv/bin

cat << EOF | boxes -d peek

To create a new .venv, you can execute:

  uv venv --python 3.11


To load the QtARMSim FHS and the .venv directory, please execute:

  nix-shell nix-env/qtarmsim-fhs.nix


After that, to run the development version of QtARMSim, you can execute:

  uv run qtarmsim

EOF
