*.aux
*.log
*.pyc
*.tmp
*.toc
*~

__pycache__
.bzr
.direnv/
.eggs
.idea
.project
.pydevproject
.settings

CHANGELOG.html
INSTALL.html
qtarmsim.egg-info
QtARMSim.spec
uv.lock

build/
dist/
docs/doxygen
docs/grammar/*.pdf
docs/grammar/*.rai
docs/grammar/*.rao
src/qtarmsim/lang/qtarmsim_es.ts
src/qtarmsim/res/desktop/qtarmsim.appdata.xml
src/qtarmsim/res/*_rc.py
src/qtarmsim/test/add.o
src/qtarmsim/ui/*.py
src/qtarmsim/_version.py
tmp/qtarmsim-*
zzz/

