*.aux
*.log
*.pyc
*.tmp
*.toc
__pycache__
.bzr
.eggs
.idea
.project
.pydevproject
.settings
build/
CHANGELOG.html
dist/
docs/doxygen
docs/grammar/*.pdf
docs/grammar/*.rai
docs/grammar/*.rao
INSTALL.html
qtarmsim.egg-info
qtarmsim/lang/qtarmsim_es.ts
qtarmsim/res/desktop/qtarmsim.appdata.xml
qtarmsim/res/*_rc.py
QtARMSim.spec
qtarmsim/test/add.o
qtarmsim/ui/*.py
tmp/qtarmsim-*
