.bzr
.project
.pydevproject
.settings
__pycache__
docs/doxygen
docs/grammar/*.pdf
docs/grammar/*.rai
docs/grammar/*.rao
qtarmsim/res/*_rc.py
qtarmsim/ui/*.py
*.pyc
*.aux
*.log
*.toc
*.tmp
qtarmsim.egg-info
dist/
tmp/qtarmsim-*
build/
qtarmsim/test/add.o
CHANGELOG.html
INSTALL.html
qtarmsim/lang/qtarmsim_es.ts
.idea
