# Additional files to be included in the distribution

include settings.py setup_extra.py
include CHANGELOG.rst DEVELOPMENT.rst README.rst INSTALL.rst
include GPL.txt LICENSE.txt
include qtarmsim.ico

prune docs
prune examples
prune tmp
prune distfiles
prune qtarmsim/res/bin
prune qtarmsim/res/breeze
prune qtarmsim/res/fonts
prune qtarmsim/res/oxygen
prune qtarmsim/test
